﻿@model ApplyFormModel



<section class="col-10 col-sm-9 col-md-8 col-lg-6 mx-auto">
    <form asp-controller="Admin" asp-action="CreateJob" method="post">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmailAddress"></label>
            <input asp-for="EmailAddress" class="form-control" type="email" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PortfolioLink"></label>
            <input asp-for="PortfolioLink" class="form-control" />
            <span asp-validation-for="PortfolioLink" class="text-danger"></span>
        </div>S
        <div class="form-group">
            <label asp-for="LevelofEduction"></label>
            <select asp-for="LevelofEduction" class="form-control">
                <option value="College">College</option>
                <option value="HND/OND">HND/OND</option>
                <option value="Bachelors">Bachelors</option>
                <option value="Masters">Masters</option>
                <option value="Ph.D">Ph.D</option>
            </select>
            <span asp-validation-for="LevelofEduction" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhotoFile"></label>
            <input asp-for="PhotoFile" class="form-control" type="file" />
            <span asp-validation-for="PhotoFile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ResumeFile"></label>
            <input asp-for="ResumeFile" class="form-control" type="file" />
            <span asp-validation-for="ResumeFile" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <button type="submit" class="btn btn-primary btn-block">Submit Application</button>
            <p class="text-muted">
                <small>
                    By submitting this application, you are agreeing that the information supplied
                    by you is true.
                 </small>
            </p>
        </div>
    </form>
</section>
