﻿@{
    ViewData["Title"] = "Careers at WorkNation";
    var jobs = ViewBag.Jobs;
}

<section class="py-4 d-flex align-items-center px-3 flex-column flex-sm-row banner bg-light">
    <!--Banner content-->
    <div class="banner-content col-sm-6">
        <h1 class="banner-heading mb-2 text-primary">
            We work remotely! Work from home at your own convience!
        </h1>
        <p class="banner-text mb-2">
            Join our dynamic team working to provide the best experiences for users all over the world. We admire
            creative people who are inquistive and always reading to learn new things and contribute their best to
            make the team expectional.
        </p>
        <button class="btn btn-sm btn-primary mt-2">Apply Now</button>
    </div>
    <!--Banner Image-->
    <div class="banner-img-container col-sm-6">

        <img class="img-fluid" src="~/img/career.svg" alt="Banner Image" />
    </div>
</section>

<main class="w-100 py-5 main-banner mb-4 position-relative">
    <div class="w-100 bg-dark overlay position-absolute"></div>
    <section class="py-5 text-center jumbotron bg-primary w-80 mx-auto">
        <h1 class="text-white">@ViewData["Title"]</h1>
        <hr class="border-light w-50" />
        <p class="text-white">Latest jobs at WorkNation</p>
    </section>
</main>

<section class="jobs-list">
    <table class="job-table table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Job Role</th>
                <th scope="col">Job category</th>
                <th scope="col">Deadline</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Job job in jobs)
            {
                <tr>
                    <th scope="row">@job.JobId</th>
                    <td><a href="all-jobs/@job.JobId">@job.Title</a></td>
                    <td>@job.JobCategory.ToString()</td>
                    <td>@job.TimeUploaded.ToString("MM/dd/yyyy")</td>
                </tr>
            }
        </tbody>
    </table>

</section>

<section class="py-4 bg-white">
    <header class="text-center pt-4 mb-2">
        <h1 class="mb-2 text-primary">Roles at WorkNation</h1>
        <p class="col-10 col-md-6 col-lg-6 mb-2 mx-auto mx-md-auto">
            You can become a part of our amazing team of developers, designers, product managers and analyst building products for the
            future
        </p>
    </header>
    <div class="d-flex py-2 flex-column flex-md-row px-3">
        <div class="col-md-4 px-2 mb-4 mb-md-0">
            <div class="card px-2 pt-2">
                <img class="card-img-top" src="~/img/designer.svg" alt="Designer" />
                <div class="card-body">
                    <h3 class="card-title text-primary">Design</h3>
                    <p class="card-text text-capitalize">UI/UX designers, Graphics designers, 3D designers, animators, illustration artist.</p>
                    <button class="btn btn-sm btn-outline-primary">View Jobs</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-2 mb-4 mb-md-0">
            <div class="card px-2 pt-2">
                <img class="card-img-top" src="~/img/product-manager.svg" alt="Product Manager" />
                <div class="card-body">
                    <h3 class="card-title text-primary">Product</h3>
                    <p class="card-text text-capitalize">Product Managers, Marketing, Researchers, Project Managers, Technical analysts, Adminstrators</p>
                    <button class="btn btn-sm btn-outline-primary">View Jobs</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-2 mb-3 mb-md-0">
            <div class="card px-2 pt-2">
                <img class="card-img-top" src="~/img/web-developer.svg" alt="Developer" />
                <div class="card-body">
                    <h3 class="card-title text-primary">Engineering</h3>
                    <p class="card-text">Frontend engineers, Backend engineers, QA testers, DevOps Engineers, Security engineers</p>
                    <button class="btn btn-sm btn-outline-primary">View Jobs</button>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3 d-flex w-100 justify-content-center">
        <button class="btn btn-sm btn-primary">View all available jobs</button>
    </div>
</section>










