﻿@{
    ViewData["Title"] = ViewBag.Job.Title;
    Job job = ViewBag.Job;
}


<section class="py-5 text-center jumbotron bg-primary w-100">
    <h1 class="text-white">@job.Title</h1>
    <hr class="border-light w-50" />
    <a class="text-white" asp-action="Index" asp-controller="Home">Go back to Home page</a>
</section>

<section class="py-4 container bg-light">
    <div class="banner-content col-lg-10 mx-auto">
        <div class="d-flex justify-content-between mb-4">
            <h6><span class="text-primary">Category:</span> @job.JobCategory</h6>
            <h6><span class="text-primary">Time uploaded:</span> @job.TimeUploaded</h6>
        </div>
        <p class="banner-text mb-2">
            Details:<br/>
            @job.Description
        </p>
        <button class="btn btn-sm btn-primary mt-2">Apply Here</button>
    </div>
</section>